<div class="sidebar sticky resume">
  <h4>Table of Contents</h4>
  <ul>
    <li><a href="#start">Getting Started</a></li>
    <ul>
      <li>
        <a href="#connect-your-hubspot-account"
          >1. Connect Your HubSpot Account</a
        >
      </li>
      <li>
        <a href="#login-to-your-hubspot-account"
          >2. Login to Your HubSpot Account</a
        >
      </li>
      <li>
        <a href="#select-your-hubspot-account"
          >3. Select Your HubSpot Account</a
        >
      </li>
      <li><a href="#confirm-permissions">4. Confirm Permissions</a></li>
      <li><a href="#adding-cards">5. Adding Cards to Records</a></li>
    </ul>
    <li><a href="#using">Using the APP</a></li>
    <ul>
      <li>
        <a href="#access-from-sidebar">6. Access SAILES Coach</a>
      </li>
      <ul>
        <li><a href="#deals">Deals</a></li>
        <li><a href="#contacts">Contacts</a></li>
        <li><a href="#companies">Companies</a></li>
      </ul>
      <li><a href="#upgrade-to-premium">7. Upgrade to Premium</a></li>
      <li><a href="#changeplan">8. Change my subscription plan</a></li>
    </ul>
    <li><a href="#uninstalling">Uninstalling SAILES Coach</a></li>
    <li><a href="#troubleshooting">Troubleshooting</a></li>
    <ul>
      <li><a href="#cannot-install-app">I can´t install the APP</a></li>
      <li>
        <a
          href="#i-cannot-see-score-as-a-custom-variable--the-score-in-hubspot-is-not-updated-automatically"
          >Can't see Score property in HubSpot</a
        >
      </li>
      <li>
        <a href="#the-ai-autofill-is-not-taking-information-from-my-emails"
          >The AI Autofill is not taking information from my Emails</a
        >
      </li>
      <li>
        <a href="#stage-report">The Stage is not correct on the report</a>
      </li>
      <li>
        <a href="#how-can-add-a-discount-code">How can add a discount code</a>
      </li>
      <li>
        <a href="#how-can-cancell-or-manage-my-subcription"
          >Cancel or Change Subscription</a
        >
      </li>
    </ul>
  </ul>
</div>
