<div class="sidebar sticky resume">
  <h4>Table of Contents</h4>
  <ul>
    <li><a href="#start">Getting Started</a></li>
    <ul>
      <li>
        <a href="#connect-your-hubspot-account"
          >1. Connect Your HubSpot Account</a
        >
      </li>
      <li>
        <a href="#login-to-your-hubspot-account"
          >2. Login to Your HubSpot Account</a
        >
      </li>
      <li>
        <a href="#select-your-hubspot-account"
          >3. Select Your HubSpot Account</a
        >
      </li>
      <li><a href="#confirm-permissions">4. Confirm Permissions</a></li>
    </ul>
    <li><a href="#using">Using the APP</a></li>
    <ul>
      <li>
        <a href="#access-from-sidebar"
          >5. Access Meddicc Score from the HubSpot Sidebar</a
        >
      </li>
      <li><a href="#begin-scoring">6. Begin Scoring</a></li>
      <li><a href="#change-framework">7. Change the Framework</a></li>
      <li>
        <a href="#editing-questions"
          >8. Editing the framework questions and default framework</a
        >
      </li>
      <li><a href="#manage-account">9. Manage your account</a></li>
      <li><a href="#automations">10. Automations</a></li>

      <li><a href="#report-and-export">11. Report and Export</a></li>
      <li><a href="#upgrade-to-premium">12. Upgrade to Premium</a></li>
      <li><a href="#changeplan">13. Change my subscription plan</a></li>
    </ul>
    <li><a href="#uninstalling">Uninstalling Meddicc Score</a></li>
    <li><a href="#troubleshooting">Troubleshooting</a></li>
    <ul>
      <li><a href="#cannot-install-app">I can´t install the APP</a></li>
      <li>
        <a
          href="#i-cannot-see-score-as-a-custom-variable--the-score-in-hubspot-is-not-updated-automatically"
          >Can't see Score property in HubSpot</a
        >
      </li>
      <li>
        <a href="#the-ai-autofill-is-not-taking-information-from-my-emails"
          >The AI Autofill is not taking information from my Emails</a
        >
      </li>
      <li>
        <a href="#stage-report">The Stage is not correct on the report</a>
      </li>
      <li>
        <a href="#how-can-add-a-discount-code">How can add a discount code</a>
      </li>
      <li>
        <a href="#how-can-cancell-or-manage-my-subcription"
          >Cancel or Change Subscription</a
        >
      </li>
    </ul>
  </ul>
</div>
