---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

//
// Styles
//

// Minimal Mistakes
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Override main colors
$blue: #00a4bd;
$purple: #00bda5;

// To fix dependencies on sizing the typografy
html {
  font-size: 16px !important;
}
// To fix navigation on blog
.page__hero--overlay {
  padding-top: 10em !important;
}

.initial-content,
.search-content {
  padding-top: 4rem !important;
}

// Fix some colors incongruencies
a:visited {
  color: inherit !important;
}

// a:visited {
//   @extend a;
// }

.search__toggle {
  color: $purple !important;
}

// Adapting .author__avatar to APP Mockup
.author__avatar img {
  border-radius: 0 !important;
  border: none !important;
  max-width: 200px !important;
}

@media (min-width: 64em) {
  .sticky {
    top: 5em !important;
  }
}

.top-100px {
  top: 100px !important;
}

.video-poster {
  background: url(../images/Postervideo2.png) top center no-repeat;
  background-size: cover;
}

.no_padding_top section.page__content {
  padding-top: 0 !important;
}

h3.accordion-header {
  padding-top: 0 !important;
}

h3.accordion-header button {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

.sidebar.resume {
  opacity: 1 !important;
}

.sidebar.resume a,
.sidebar.resume a:visited {
  text-decoration: none;
  color: #212529 !important;
}

.sidebar.resume a:hover {
  text-decoration: underline;
  color: #00a4bd !important;
}

.pt-6-m {
  margin-top: -4rem !important;
  padding-top: 4rem !important;
}

.accordion-button.collapsed {
  color: var(--bs-accordion-active-color) !important;
  background-color: var(--bs-accordion-active-bg) !important;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color) !important;
}

// New Age + Bootstrap
@import "styles.scss";
